table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
  }
  
  tr:nth-child(even) {
    background-color: lightgray;
  }
  
  tr:nth-child(odd) {
    background-color: white;
  }
  MATRICULA:first-child {
    color: rgb(36, 18, 233);
    background-color: black;
    padding: 5px;
  }